# Node modules
node_modules/

# Build output
dist/
build/
*.tsbuildinfo

# Env file (chứa biến môi trường nhạy cảm)
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings (tuỳ chọn)
.vscode/

# Cache
.cache/
